---
layout: page
---
<!--
{%- if site.posts.size > 0 -%}
<ul class="posts">
	{%- for post in site.posts -%}
	<li>
		{%- assign date_format = site.minima.date_format | default: "%d.%m.%Y" -%}
		<div class="post-meta">
			<a class="post-link" href="{{ post.url | relative_url }}">
				<h2 class="post-title">{{ post.title | escape }}</h2>
			</a>
		</div>
		<div class="post-date"><i class="icon-calendar"></i>{{ post.date | date: date_format }}</div>
		<div class="post">
			{%- if site.show_excerpts -%}
			{{ post.excerpt }}
			{%- endif -%}
		</div>
		<div class="post-meta"><a class="post-link" href="{{ post.url | relative_url }}">Читать далее...</a></div>
	</li>
	{%- endfor -%}
</ul>
{%- endif -%}
-->
<!-- This loops through the paginated posts -->
{%- if site.posts.size > 0 -%}
<ul class="posts">
  {% for post in paginator.posts %}
	<li>
		{%- assign date_format = site.minima.date_format | default: "%d.%m.%Y" -%}
		<div class="post-meta">
			<a class="post-link" href="{{ post.url | relative_url }}">
				<h2 class="post-title">{{ post.title | escape }}</h2>
			</a>
		</div>
		<div class="post-date"><i class="icon-calendar"></i>{{ post.date | date: date_format }}</div>
		<div class="post">
			{%- if site.show_excerpts -%}
			{{ post.excerpt }}
			{%- endif -%}
		</div>
		<div class="post-meta"><a class="post-link" href="{{ post.url | relative_url }}">Читать далее...</a></div>
	</li>
  {% endfor %}
</ul>
{%- endif -%}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Назад</a>
  {% else %}
    <span class="previous">Назад</span>
  {% endif %}
  <span class="page_number ">
    Страница: {{ paginator.page }} из {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Вперёд</a>
  {% else %}
    <span class="next ">Вперёд</span>
  {% endif %}
</div>

<!--
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Назад</a>
  {% else %}
    <span>&laquo; Назад</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Вперёд &raquo;</a>
  {% else %}
    <span>Вперёд &raquo;</span>
  {% endif %}
</div>
{% endif %}
-->